
.List-body{
  text-align: center;
  margin:auto;
}

.Button-add{
  background-color: #3587ad;
  border: none;
}
.Button-delete{
    background-color: #fffff;
    color: #d13c3c;
    border: none;
}

td{
  
}
